:root{
    --color-p: rgb( 250, 253, 230); /* Bianco Caldo per Sfondo */
    --color-po: rgba(245, 244, 244, 0.397); /* Bianco Caldo per Sfondo trasparente */
    --color-t: rgba(43, 16, 58, 0.76);   /* Verde Oliva Scuro per Titolo Principale e testi*/
    --color-btn: rgb( 226, 114, 91);   /* Terracotta per bottoni */
    --color-link: rgb( 176, 224, 230);   /* Blu polvere per link */
    --color-s: rgb( 169, 189, 191);   /*Verde Salvia Denaturato secondario */
    --color-a: rgb(193, 196, 33);   /* accento */
    --color-nav-footer: rgb( 117, 145, 108);
    
} 
.color-p{
    color: var(--color-p);
}
.color-t{
    color: var(--color-t);
}
.color-btn{
    color: var(--color-btn);
}
.color-link{
    color: var(--color-link);
}
.color-nav-footer{
    color: var(--color-nav-footer);
}
.color-a{
    color: var(--color-a);
}


body{
    background-color: var(--color-p);
}

.logo{
    border-radius: 50%;
    
}

nav{
    background-color: rgba(117, 145, 108, 0.726);
    border-bottom: var(--color-a) 2px solid;
    
}

.testo{
    color: var(--color-t);
    font-weight: bold;
}

/* NAVBAR */
.nav-scrolled{
margin: 5vh 15vw;
border: 2px solid var(--color-a);
border-radius: 10px;
backdrop-filter: blur(7px);
background-color:  rgba(169, 189, 191, 0.301);

}

.transition{
    transition: .5s;
}



    
/* HEADER */
header{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/Foto_Header.jpeg");
}

/* TITOLI */
.title-shadow{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* BTN */
.btn-custom{
    background-color: transparent;
    outline-color: var(--color-btn);
    color: var(--color-p);
    border: 2px solid var(--color-btn);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    font-weight: bold;
    cursor: pointer; /* Trasforma il cursore in una mano */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Aggiunge un'ombra leggera */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Aggiunge una transizione fluida per l'ombra e il movimento */
    
}
.btn-custom:hover {
    background-color: var(--color-btn); /* Cambia il colore di sfondo */
    color: white; /* Cambia il colore del testo */
    border-color: white; /* Cambia il colore del bordo (opzionale) */
    /* Potresti aggiungere anche altre modifiche, come un'ombra, un cambio di opacità, ecc. */
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3); /* Ombra leggermente più intensa al passaggio del mouse */
    transform: translateY(-1px); /* Leggero sollevamento al passaggio del mouse */
  }



.titolo {
    font-family: "Nunito Sans", sans-serif;
    font-size: bold;
    font-weight: 800;
    font-style: italic;
    
  }

  *{
    font-family: "Nunito Sans", sans-serif;
    font-size: bold;
    font-weight: 600;
    font-style: italic;
  }
  
  
  .link{
    font-family: "Nunito Sans", sans-serif;
    font-size: bold;
    font-weight: 400;
    font-style: italic;
  }

  /* BORDO */
  .bordo{
    border-bottom: 2px solid var(--color-t);
}

  /* CATEGORIE */
  .box-category{
    border-radius: 50%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-a);
    text-align: center;
    color: var(--color-p);

  }
  /* IMG CATEGORIE */
  .pianteAromatiche{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./media/Piante_Aromatiche.jpg");
    background-size: cover;
    background-position: center;
  }
  .pianteGrasse{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("./media/Piante_Grasse.jpg");
    background-size: cover;
    background-position: center;
  }
  .pianteMedicinali{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./media/Piante_Medicinali.jpg");
    background-size: cover;
    background-position: center;
  }
  .fioriGiardino{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./media/Fiori_da_Giardino.jpg");
    background-size: cover;
    background-position: center;
  } 
  .fioriCasa{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./media/Fiori_da_Appartamento.jpg");
    background-size: cover;
    background-position: center;
  }
  .fioriBalcone{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./media/Fiori_da_balcone.jpg");
    background-size: cover;
    background-position: center;
  }

  /* SEZIONE NUMERI */
  .bg-numeri{
   height: 100vh;
   background: radial-gradient(circle at center, rgba(250, 253, 230, 0) 30%, rgb(250, 253, 230) 100%), url(./media/Img_Numeri.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: left center;
  
   
 }

 .box-numeri{
    padding: 30px;
    backdrop-filter: blur(7px);
    background-color:  rgba(169, 189, 191, 0.301); 
    border: 2px solid var(--color-a);
    border-radius: 10px;
    text-align: center;
 }

 /* Margine superiore per il contenitore pagina prodotti */
 .contenitore-prod{
  margin-top: 15vh;
 }








  @media screen and (max-width: 991px) {
    .nav-scrolled{
        margin: 0;
        border: none;
        border-bottom:2px solid var(--color-a);
        border-radius: 0px, 0px, 10px, 10px;
        backdrop-filter: blur(7px);
        background-color:  rgba(169, 189, 191, 0.301);

}
    }
    
  
